body{
	background:#c8c7c7;
}

#questions{
	display: none;
}

#improvePass{
	display: none;
}

#passwordCreateHelp{
	display: none;
}

#improveTable{
	display: none;
}

#improvePass{
	display: none;
}

#minButton{
	display: none;
}

#improveGraphs{
	display: none;
}

.progress-bar-great-success {
  background-color: #70e070;
}